*  {	margin: 0;	padding: 0; }

@font-face {font-family: 'Muli';src: url('Muli-Bold.woff2') format('woff2'),url('Muli-Bold.woff') format('woff');}
@font-face {font-family: 'Muli';src: url('Muli-Regular.woff2') format('woff2'),url('Muli-Regular.woff') format('woff');}
@font-face {font-family: 'Avenir Next LT Pro';src: url('AvenirNextLTPro-Regular.woff2') format('woff2'),url('AvenirNextLTPro-Regular.woff') format('woff');}
@font-face {font-family: 'Avenir Next LT Pro';src: url('AvenirNextLTPro-Bold.woff2') format('woff2'),url('AvenirNextLTPro-Bold.woff') format('woff');}



body  {
color:#000;
background:#343538;
font-weight: 300;
font-size:16px;
overflow-x:hidden;
font-family: 'Avenir Next LT Pro', arial;
letter-spacing: 0px;
line-height:193%;}

/* ------- globals ------- */

h1, h2 {font-family: 'Muli';}
img {max-width:100%;}
a  {	text-decoration: none;cursor:pointer;}
a:hover  { text-decoration:underline; }
a:active { outline: none;}
a:focus {-moz-outline-style: none;}	
h1, h2, h3, h4, h5 {line-height:130%;}
h1 {font-size: 53px;font-weight: 800;font-family: 'Muli';}
h2 {font-size:30px;}	
h3 {font-size:1.8em;font-family: 'Muli';font-weight: 800;}
h4 {font-size:21px;color:#636363;text-transform:uppercase;}
h5 {font-size:1.1em;}
.center {text-align:center;}
.smaller {width:100%;margin:0 auto;}
.bottom-padding {margin-bottom:70px;}
.bottom-padding-30 {margin-bottom:30px;}
.no-padding {margin-bottom:-40px;}
.clr {clear:both;}
.inner-wrapper {margin:0 auto;max-width:1200px;}
.padding {padding-top:90px;padding-bottom:90px;}
.top-padding{margin-top:25px;}
.button {border-radius: 5px;padding:8px 29px 8px 29px;display: inline-block;font-size: 15px;}
.box-inner .button {padding:8px 24px 8px 21px;}
.box-inner .color {margin-right:5px;}
#menu ul li a, .row-right, .row-left, .media-images {border-radius: 5px;}
.button.color {color:#fff;background:#2739d6;}
.button.gray {color:#2739d6;background:#e8e8e8;}
.button.gray i.far {margin-left: 0px;margin-right: 8px;margin-top: 0px;}
.button.no-color {color:#2739d6;background:#fff;}
.column-1 {float:left;width:50%;}
.column-2  {float:right;width:50%;text-align:right;}
.bottom-padding-icons {  margin-bottom: 25px;}
.button:hover {background:#000;text-decoration:none;color:#fff;
	-webkit-box-shadow:0 0 14px 4px rgba(0, 0, 0, 0.2); 
	box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.2);}
.box-check, .box-date {border-radius:200px;}

/* Columns */
.col-7 {float:left;width:14.285%;}
.col-6 {float:left;width:16.66666%;}
.col-5 {float:left;width:20%;}
.col-4 {float:left;width:25%;}
.col-3 {float:left;width:33.333333%;}
.col-2 {float:left;width:50%;}	
.col-1 {float:left;width:100%;}	

/* Boxes */
.box-3 {display:table;}
.box-7 .box {float:left;width:14.285%;}
.box-6 .box {float:left;width:16.66666%;}
.box-5 .box {float:left;width:20%;}
.box-4 .box {float:left;width:25%;}
.box-3  .box{float:left;width:33.333333%;}
.box-2 .box {float:left;width:50%;}	
.box-1 .box {float:left;width:100%;}	
.box {margin-bottom: 42px;display:table-cell;}
.box-padding {padding-left:18px;padding-right:18px;position: relative;}
.box-inner {
	background:#fff;
	padding:32px;
	border-radius:5px;
	padding-top: 43px;
	line-height: 23px;
	-webkit-box-shadow:0 0 35px 0px rgba(0, 0, 0, 0.05); 
	box-shadow:0 0 35px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 0 35px 0px rgba(0, 0, 0, 0.05);}
.box-text {min-height:284px;}
.clr-boxes {clear:both;}	

.button, #menu ul li a, a {
-webkit-transition:  all 200ms linear 0s;
-moz-transition:  all 200ms linear 0s;
-o-transition: all 200ms linear 0s;
transition:  all 200ms linear 0s;}	


.button.noformatting {padding:0px;font-weight:700;}
.button.noformatting:hover {text-decoration:underline;background:none;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;}

.row-right {
	background:#fff;
	height:88px;
	padding-top: 88px;
    padding-bottom: 117px;
	margin-bottom: 42px;
	width: 92%;
    float: right;
	color:#6c6c6c;
	-webkit-box-shadow:0 0 35px 0px rgba(0, 0, 0, 0.05); 
	box-shadow:0 0 35px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 0 35px 0px rgba(0, 0, 0, 0.05);}

	.media-titles {font-size:20px;font-weight:bold;}
	
	.row-right-1 {float:left;width:24%;}
	.row-right-2 {float:left;width:66%;}
	.row-right-3 {float:left;width:10%;}
	.row-right .media-images {    position: absolute;
    margin-left: -97px;margin-top: -89px;-webkit-box-shadow:0 0 35px 0px rgba(0, 0, 0, 0.2); 
	box-shadow:0 0 35px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 35px 0px rgba(0, 0, 0, 0.2);}
	
.row-left {
	background:#fff;
	height:88px;
	padding-top: 88px;
    padding-bottom: 117px;
	margin-bottom: 42px;
	width: 92%;
    float: left;
	color:#6c6c6c;
	-webkit-box-shadow:0 0 35px 0px rgba(0, 0, 0, 0.05); 
	box-shadow:0 0 35px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 0 35px 0px rgba(0, 0, 0, 0.05);}

	
	.row-left-1 {float:right;width:24%;}
	.row-left-2 {float:right;width:66%;}
	.row-left-3 {float:right;width:10%;}
	.row-left .media-images {    position: absolute;
    margin-left: 75px;margin-top: -89px;-webkit-box-shadow:0 0 35px 0px rgba(0, 0, 0, 0.2); 
	box-shadow:0 0 35px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 35px 0px rgba(0, 0, 0, 0.2);}	
	
	


/* ------- end globals ------- */

.logo-back {background: url(images/topcurve.png) no-repeat  -208px 2px;
    height: 182px;
    padding-top: 68px;
    margin-top: -42px;}


#header h2 {font-size: 20px;line-height: 28px;font-weight: 300;font-family: 'Avenir Next LT Pro', arial;}
.topmenu.button {float:right;border:1px solid #fff;margin-left: 22px;}
.topmenu.button  {color:#fff;}
.topmenu.button:hover {background:#fff !important;color:#1e66b6;}

	.icon-line-inner {border-top:1px solid #fff;height:5px;width:100%;    margin-top: 43px;}
	.icon-circle {float:left;}
	.icon-line {float:left;width:46px;}
	.icon-circle i {font-size:41px;    position: relative;    margin-left: 19px;    margin-top: 19px;}
	i.fas {margin-left: 22px;    margin-top: 22px;}
	i.far {margin-left: 28px;    margin-top: 21px;}
	i.fan {margin-left: 20px;    margin-top: 22px;}
	i.fam {margin-left: 25px;    margin-top: 20px;}
	.icon-circle {border-radius:200px;height:85px;width:85px;border:1px solid #fff;}
	
	.text-accounts {position:relative;margin-top: 25px;margin-left: 7px;}
	.text-ident  {position:relative;margin-top: 27px;margin-left: 11px;}
	.text-doc  {position:relative;margin-top: 27px;margin-left: 3px;}
	.text-trans {position:relative;margin-top: 27px;margin-left: 0px;}

#menu-logo {
    position: absolute;
    width: 100%;}
#menu ul li a {color:#fff;padding-top: 10px;padding-bottom: 10px;padding-right: 15px;padding-left: 15px;}
#menu ul li a:hover {text-decoration:none;background:#1b408e;}
#menu ul li {
	color:#fff;
	display: block;
    list-style: none;
    position: relative;
    float: left;
    height: 48px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 4px;
    line-height: 27px;}

.menu-align {    margin-top: 43px;    margin-right:102px;float:right;}
.logo {float:left;margin-left: 102px;margin-top: 43px;}
#menu {float:right;margin-top: 12px;}
i.showmobile {display:none;cursor:pointer;}
.close-mobile.fas {display:none;right: 21px;position: absolute;font-size: 30px;color:#fff;cursor:pointer;z-index:2px;}
.menu-align.active {background:#20428e;display:block;margin-top: 0px;margin-right: 0px;float: none;width: 100%;z-index: 12; position: fixed;height:100%;}
	.menu-align.active .close-mobile {display:block;}
	.menu-align.active #menu {float:none;width:100%;margin-top:80px;}
	.menu-align.active #menu ul {padding-left:30px;padding-right:30px;margin-top:40px;}
	.menu-align.active #menu ul li {float:none;width:100%;text-align: center;}
	.menu-align.active #menu ul li a {width:100%;padding-left:0px;padding-right:0px;display:block;}
	.menu-align.active #menu ul li a:hover {background:#1c3773;}
	.menu-align.active .topmenu.button {margin-bottom: -48px;float: none;width: auto;margin-left: 30px;text-align: center;left: 0;position: relative;right: 0;display: block; margin-right: 30px;margin-top:95px;}
	.banner-wrapper.noanimation {transform:none;}
	.banner-wrapper.noanimation.animateIn .menu-align {margin-top:0px;}
	.banner-wrapper.noanimation.animateIn li a {color: #fff !important;}
	.banner-wrapper.noanimation.animateIn .topmenu.button { border: 1px solid #fff;padding: 8px 29px 8px 29px;color:#fff;}


.animateIn .menu-align {margin-top: 7px;}
.animateIn .logo {margin-top: 14px;}
.menu-wrap {display:block;width:100%;}
.animateIn .topmenu.button {border:1px solid #1e66b6;padding:5px 25px 5px 25px;margin-top: 5px;}
.animateIn .topmenu.button  {color:#1e66b6;}
.animateIn .topmenu.button:hover {background:#000 !important;color:#fff;border-color:#000;	-webkit-box-shadow:none; 	box-shadow: none; 	-moz-box-shadow: none;}
.animateIn li a {color:#1e66b6 !important;}
.animateIn li a:hover {color:#fff !important;}
.animateOut li a {color:#fff !important;}
.container {width: 100%;}

.banner-wrapper {
  z-index: 4;
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;}

.banner {
  width: 100%;
  display: block;
  background: none;
  transition: all 300ms ease-in-out;}

.animateIn{
	transform: translateY(0px);
	-webkit-box-shadow:0px 0px 65px 3px rgba(0, 0, 0, 0.07); 
	box-shadow:0px 0px 65px 3px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0px 0px 65px 3px rgba(0, 0, 0, 0.07);}

.animateOut{
	transform: translateY(-100%);
	-webkit-box-shadow:none; 
	box-shadow: none; 
	-moz-box-shadow: none;}


#header {
background: #1e68b6; /* Old browsers */
background: -moz-linear-gradient(left, #1e68b6 0%, #20428e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1e68b6 0%,#20428e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1e68b6 0%,#20428e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e68b6', endColorstr='#20428e',GradientType=1 ); /* IE6-9 */color:#fff;}
	#back-logo {background:url(images/bodybacktoplef2t.png) repeat -106px -39px, url(images/faint-back-logo.png) no-repeat bottom right;}


	#middle-curve {background: url(images/middlecurve.png) no-repeat;    width: 100%;    height: 510px;    background-size: contain;    margin-top: -218px;}
	
	
	#intro {width:50%;padding-top: 163px;padding-bottom: 123px;}
#row-1 {
background: #1e68b6; /* Old browsers */
background: -moz-linear-gradient(left, #1e68b6 0%, #20428e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1e68b6 0%,#20428e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1e68b6 0%,#20428e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e68b6', endColorstr='#20428e',GradientType=1 ); /* IE6-9 */color:#fff;}
	#row-1-backgrounds {	background: url(images/row1right.png) bottom right no-repeat;}
	#hydro-ecosystem {width: 100%;    bottom: -137px;    display: block;    position: relative;    margin: 0 auto;}
	
	
	
	
#row-1 .inner-wrapper {padding-bottom:0px;}

#row-2 {background:#fff;}	
#row-2-backgrounds {	background: url(images/row4left.jpg) no-repeat bottom left, url(images/row2right.png) top right no-repeat;}

#row-3 {
background: #1e68b6; /* Old browsers */
background: -moz-linear-gradient(left, #1e68b6 0%, #20428e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1e68b6 0%,#20428e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1e68b6 0%,#20428e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e68b6', endColorstr='#20428e',GradientType=1 ); /* IE6-9 */color:#fff;}	
#row-3-backgrounds {	background: url(images/row3left.png) no-repeat bottom left;}
	.store-buttons {height: 48px; margin-right: 12px;}
	#row-3-text {margin-bottom: 50px;line-height: 22px;margin-top: 72px;}
	
#main-row {background:#fff;}
	
#row-4 {background:#f5f5f5;}
#row-4-backgrounds {	background: url(images/row4left.png) no-repeat top left, url(images/row4right.jpg) right bottom no-repeat;}
	#row-4 h3 {color:#676767;}
	.box-date {height:60px;width:60px;position:absolute;right:0;margin-top: -18px;color:#fff;-webkit-box-shadow:0px 4px 8px 3px rgba(0, 0, 0, 0.1); 
	box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.1);}
	.box-date i {font-size: 26px;    margin-left: 2px;    margin-top: 19px;}
	.box-date.check {background:#00da00;}
	.box-date.text {background:#f8f8f8;font-size: 18px;line-height: 49px;font-weight: bold;color:#6b6b6b;}
	.box-date.text span {    display: block;    font-size: 12px;    font-weight: normal;    margin-top: -32px;}

#row-5 {	background:#fff;}
#row-5-backgrounds {	background: url(images/row5left.jpg) no-repeat bottom left, url(images/row5right.jpg) right top no-repeat;}
	#row-5 h3 {color:#676767;}	
	
#row-6  {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2475d2+0,2652aa+100 */
background: #2475d2; /* Old browsers */
background: -moz-linear-gradient(top, #2475d2 0%, #2652aa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #2475d2 0%,#2652aa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #2475d2 0%,#2652aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2475d2', endColorstr='#2652aa',GradientType=0 ); /* IE6-9 */color:#fff;}
#row-6-backgrounds {	background: url(images/row6left.png) no-repeat top left, url(images/row6right.png) right bottom no-repeat;}

#footer {background:#333;padding-bottom:30px;}
	#footer {font-weight:200;text-transform:uppercase;font-size:12px;letter-spacing:1px;}
	
	#footer #menu  ul li {
    float: left;
    position: relative !important;
    right: 50% !important;}
	
	#footer #menu {
    float: left !important;
    left: 50% !important;
    margin: auto !important;
    position: relative !important;
    width: auto !important;}

	.footer-logo {padding-bottom:13px;}
	#footer-icons {margin:0 auto;}
	#footer-icons .fab {color:#fff;text-align:center;font-size: 23px;margin-right:8px;margin-left:8px;}







/* ------- responsive CSS ------- */

@media screen and (min-width: 1900px){

	#middle-curve {background-size: cover;height:650px;}


}

@media screen and (max-width: 1440px){
	
	#middle-curve {  margin-top: -117px;height: 435px;}
	
}	


@media screen and (max-width: 1378px){
	
	.logo-back {background-position: -378px 2px;}
	
}	


@media screen and (max-width: 1328px){
	
		.inner-wrapper {padding-left:80px;padding-right:80px;}

	
}	


@media screen and (max-width: 1200px){
	
	.logo-back {background-position: -558px 2px;}
	
}	

@media screen and (max-width: 1164px){
	
	#intro {margin: 0 auto;width:80%;}
	#intro h1, #intro h2 {text-align: center;}
	#icon-top-wrapper {margin:0 auto;display: table;
    right: 0;
    left: 0;}
	
}	

/* initialze mobile menu */


@media screen and (max-width: 1040px){
	
	.logo-back {background:none;}
	.menu-align {display:none;}
	.banner {    background: #fff !important; display: flex !important;}
	.logo {margin-left: 32px;margin-top: 13px;}
	#intro {padding-top: 103px;}
	i.showmobile {display: block;    float: right;    margin-right: 27px;    font-size: 24px;    margin-top: 18px;}
	
}	


/* initialze mobile menu - end */



@media screen and (max-width: 1000px){
	
	.inner-wrapper {width: 93%;padding-left:0px;padding-right:0px;}
	.box-3 .box {width:50%;}
	.clr-boxes {clear:none;}
	
}	


@media screen and (max-width: 935px){
	
	.col-4 {width:100%;float:none;margin-bottom:30px;}
	#footer #menu ul li {float:none;    margin-bottom: -13px;}
	
	
}


@media screen and (max-width: 918px){
	
	#middle-curve {margin-top: -97px;    height: 313px;}
	
	.row-left-1, .row-left-2, .row-left-3, .row-right-1, .row-right-2, .row-right-3 {float: none;    width: 100%;}
	.row-left, .row-right {height:auto;}
	.row-left .media-images, .row-right .media-images {left: 0;right: 0;display: table;margin-right: auto;margin-left: auto;    margin-top: -280px;}
	.row-right, .row-left {width:100%;margin-bottom: 200px;}
	.row-left-2-innerpad {padding-left:80px;padding-right:80px;text-align:center;}
	.row-left, .row-right {padding-bottom:65px;}
	#row-6 .smaller {margin-top:220px;margin-bottom: -180px;}
}	



@media screen and (max-width: 850px){
	.column-1, .column-2 {float:none;width:100%;}
	#row-2 .column-1{margin-top:80px;}
	#row-2 .column-2 {margin-top:60px;}
	#row-3 .column-1 , #row-3 .column-2 {text-align:center;}
	#row-3 .column-2  {margin-top:70px;}
	h3.no-padding {text-align:center;}
	
	
}	


@media screen and (max-width: 686px){
	
	.box-3 .box {width:100%;float:none;display:block;}
	.icon-circle, .icon-line {float: none;}
	.icon-line-inner {border-top: none;height: 35px;}
	
	
}	








